@font-face {
  font-family: NeueKabel;
  font-weight: 400;
  src: url(../src/static/fonts/neue-kabel/NeueKabel.otf);
}

@font-face {
  font-family: NeueKabel-Medium;
  font-weight: 500;
  src: url(../src/static/fonts/neue-kabel/NeueKabel-Medium.otf);
}

@font-face {
  font-family: FuturaPTMedium;
  font-weight: 500;
  src: url(../src/static/fonts/futura-pt/FuturaPTMedium.ttf);
}

$bgClr: #e1d1c2;
$sctClr: #f2f2f2;
$invSctClr: #b3a398;
$pnlClr: #131313;
$accClr: #faad80;
$fntClr: #2d2926;

$prmRds: 20px;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: $invSctClr;
}

body {
  text-rendering: optimizeLegibility;
}

h1 {
  color: $fntClr;
  font-family: NeueKabel;
  font-size: 64px;
  font-weight: 400;
  line-height: 90%;
}

h2 {
  color: $fntClr;
  font-family: NeueKabel;
  font-size: 38px;
  font-weight: 400;
}

h3 {
  color: $fntClr;
  font-family: NeueKabel-Medium;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  color: $fntClr;
  font-family: NeueKabel;
  font-size: 38px;
  font-weight: 400;
}

p {
  color: $fntClr;
  font-family: FuturaPTMedium, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

a,
a:visited,
a:active {
  color: #f2f2f2;
  font-family: NeueKabel-Medium, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.navigation-container {
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
  .navigation {
    align-items: center;
    display: flex;
    height: 80px;
    left: 0;
    max-width: 1280px;
    padding: 0 40px;
    top: 0;
    width: 100%;
    div {
      display: flex;
      gap: 18px;
      img {
        cursor: pointer;
        filter: invert(100%) sepia(80%) saturate(227%) hue-rotate(272deg)
          brightness(112%) contrast(90%);
        transform: translateY(60px);
        transition: 0.5s;
        user-select: none;
        width: 48px;
      }
      img:hover {
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: navigationLogoHover;
      }
      div {
        a {
          font-size: 28px;
          transform: translateY(60px);
          transition: 0.5s;
        }
        a:hover {
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-name: navigationEntryHover;
        }
      }
    }
    .entries {
      margin: 0 0 0 auto;
    }
  }
}

@keyframes navigationEntryHover {
  0% {
    color: $bgClr;
  }
  100% {
    color: $bgClr;
  }
}

@keyframes navigationLogoHover {
  0% {
    filter: invert(93%) sepia(15%) saturate(627%) hue-rotate(316deg)
      brightness(102%) contrast(76%);
  }
  100% {
    filter: invert(93%) sepia(15%) saturate(627%) hue-rotate(316deg)
      brightness(102%) contrast(76%);
  }
}

.banner {
  align-items: center;
  background: $invSctClr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  padding: 0 40px;
  position: relative;
  text-align: center;
  h1 {
    color: #867070;
    font-size: 72px;
    position: fixed;
  }
  h2 {
    color: #423e3b;
    font-size: 34px;
    position: fixed;
    transform: translateY(62px);
  }
  img {
    animation-delay: 3s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-name: bounce;
    bottom: 0;
    pointer-events: none;
    position: fixed;
    transform: translateY(-100px);
    user-select: none;
    width: 36px;
  }
  div {
    background: $bgClr;
    bottom: 0px;
    clip-path: polygon(
      47% 35%,
      68% 20%,
      84% 35%,
      100% 0,
      100% 100%,
      100% 100%,
      0 100%,
      0 0,
      14% 23%,
      33% 11%
    );
    height: 100px;
    position: absolute;
    width: 100%;
  }

  @keyframes bounce {
    0% {
      transform: translateY(-100px);
    }
    2% {
      transform: translateY(-105px) rotate(-10deg);
    }
    4% {
      transform: translateY(-110px) rotate(10deg);
    }
    6% {
      transform: translateY(-115px) rotate(-5deg);
    }
    10% {
      transform: translateY(-115px);
    }
    13% {
      transform: translateY(-115px);
    }
    17% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
}

.feed {
  background: $bgClr;
  display: flex;
  justify-content: center;
  padding: 40px;
  position: relative;
  z-index: 1;
}

.feed-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
}

.feed-item {
  align-items: center;
  aspect-ratio: 1;
  background: $sctClr;
  border-radius: $prmRds;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  position: relative;
  text-align: center;
  transition: 0.45s;
  h3 {
    font-size: 20px;
    position: absolute;
    top: 60px;
    transition: 0.25s;
  }
  h4 {
    margin: 0 0 14px 0;
    transition: 0.25s;
  }
  div {
    align-items: flex-end;
    bottom: 60px;
    display: flex;
    gap: 6px;
    position: absolute;
    transition: 0.25s;
    img {
      transform: translate(0, 1px);
      user-select: none;
      width: 24px;
    }
  }
}

.feed-item:hover {
  background: #ffffff;
  scale: 1.03;
  div {
    display: flex;
    gap: 12px;
  }
}

.feed-image {
  background: $accClr;
  border-radius: $prmRds;
  grid-column: 2/4;
  grid-row: 1/2;
  position: relative;
  transition: 0.45s;
  img {
    left: 50%;
    opacity: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
}

.operation {
  background: $sctClr;
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 150px 40px;
  position: relative;
  z-index: 1;
  div {
    div {
      width: 480px;
      h1 {
        color: #ff6767;
        font-size: 48px;
        margin: 4px 0 16px 0;
        transition: 0.2s;
      }
      h2 {
        font-size: 26px;
      }
      div {
        max-width: 480px;
        P {
          color: $fntClr;
          font-size: 22px;
          margin: 14px 0 0 0;
        }
      }
    }
  }
  .image {
    width: 500px;
    img {
      transition: 0.25s;
      width: 100%;
    }
  }
}

.service {
  background: $bgClr;
  display: flex;
  justify-content: center;
  padding: 40px;
  position: relative;
  z-index: 1;
}

.service-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1280px;
}

.service-item-back {
  opacity: 0;
}

.service-item {
  align-items: center;
  aspect-ratio: 1;
  background: $sctClr;
  border-radius: $prmRds;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  position: relative;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
  p {
    margin: 10px 0 0 0;
  }
  p,
  h4 {
    transition: 0.5s;
  }
  span {
    color: $sctClr;
    font-family: FuturaPTMedium, sans-serif;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    padding: 40px;
    position: absolute;
    transition: 0.5s;
    z-index: 2;
  }
  img {
    bottom: 10px;
    left: 18px;
    position: absolute;
    transition: 0.5s;
    width: 38px;
  }
}

.service-item:hover {
  h4,
  p,
  img {
    cursor: default;
    opacity: 0;
    user-select: none;
  }
  span {
    opacity: 1;
  }
  background: $invSctClr;
}

.service-image {
  background: $accClr;
  border-radius: $prmRds;
  grid-column: 1/3;
  grid-row: 2/2;
  position: relative;
  transition: 0.45s;
  img {
    left: 50%;
    opacity: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
}

.projects-header {
  align-items: center;
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 180px 40px 100px 40px;
  text-align: center;
  h1 {
    color: #f2f2f2;
  }
  p {
    color: #f2f2f2;
    font-size: 19px;
    margin: 16px 0 0 0;
    max-width: 1280px;
  }
}

.projects-description {
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  padding: 0 40px 0 40px;
  h2 {
    color: #787878;
    max-width: 1280px;
    width: 100%;
  }
}

.projects {
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  padding: 60px 40px 90px 40px;
}

.projects-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1280px;
}

.projects-item {
  align-items: center;
  background: #7a3476;
  border-radius: $prmRds;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 50px;
  position: relative;
  text-align: center;
  transition: 0.5s;
  h4 {
    color: #f2f2f2;
    font-size: 32px;
  }
  p {
    color: #f2f2f2;
    margin: 20px 0 25px 0;
  }
  .preview {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  .preview-desktop {
    img {
      width: 100%;
    }
  }
  .preview-mobile {
    img {
      width: 100%;
    }
  }
  .mobile {
    margin: 0 0 0 15px;
  }
  .icon {
    cursor: pointer;
    margin: 15px 0 0 0;
    transition: 0.25s;
    width: 38px;
  }
  .icon:hover {
    scale: 0.75;
  }
  .repo {
    position: relative;
    top: 4px;
    width: 46px;
  }
  .minor {
    margin: 0;
  }
  .project-stack-container {
    margin: 10px 0 0 0;
    div {
      display: inline-block;
      user-select: none;
      p {
        background: #61295e;
        border-radius: 6px;
        cursor: default;
        display: inline;
        display: inline;
        line-height: 51px;
        margin: 0 4px;
        padding: 10px 12px;
        white-space: nowrap;
      }
    }
    p:hover {
      background: #131313;
    }
  }
}

.contact {
  background: #7d6a6c;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 150px 40px 150px 40px;
  img {
    max-width: 500px;
    width: 100%;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $sctClr;
    }
    p {
      margin: 10px 0 0 0;
      white-space: nowrap;
      color: $sctClr;
    }
  }
}

.article-container {
  background: #7d726a;
  display: flex;
  justify-content: center;
  padding: 150px 40px 150px 40px;
  div {
    width: 720px;
    h1 {
      color: #e8e3e0;
      display: block;
    }
    h2 {
      color: #e8e3e0;
      margin: 0 0 10px 0;
    }
    .deck {
      font-size: 19px;
    }
    .body {
      margin: 30px 0 20px 0;
    }
    p {
      color: #e8e3e0;
      margin: 0 0 20px 0;
    }
    img {
      float: left;
      margin: 0 15px 0 0;
      max-width: 320px;
      width: 100%;
    }
  }
}

.footer {
  align-items: center;
  background: $pnlClr;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  position: relative;
  z-index: 1;
  p {
    color: #f2f2f2;
  }
  div {
    display: flex;
    margin: 0 0 20px 0;
    img {
      filter: invert(100%) sepia(80%) saturate(227%) hue-rotate(272deg)
        brightness(112%) contrast(90%);
      user-select: none;
      width: 48px;
    }
    img:hover {
      filter: invert(93%) sepia(15%) saturate(627%) hue-rotate(316deg)
        brightness(102%) contrast(76%);
      cursor: pointer;
    }
    .github-icon {
      bottom: 2px;
      position: relative;
      width: 56px;
    }
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.75s ease-out, transform 0.75s ease-out;
}

.in-view {
  opacity: 1;
  transform: translateY(0);
}

*:focus {
  outline: none;
}

@media (pointer: coarse) {
  :focus {
    outline: none;
  }
}

@media (min-width: 1100px) and (max-width: 1268px) {
  .service-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-image {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

@media (min-width: 950px) and (max-width: 1100px) {
  .feed-item {
    h3 {
      position: absolute;
      top: 40px;
    }
    div {
      bottom: 40px;
    }
  }
  .service-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-image {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

@media (min-width: 920px) and (max-width: 950px) {
  .feed-item {
    h3 {
      opacity: 0;
    }
    div {
      opacity: 0;
    }
  }
  .service-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-image {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

@media (min-width: 900px) and (max-width: 920px) {
  .feed-item {
    h3 {
      opacity: 0;
    }
    div {
      opacity: 0;
    }
    h4 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }
  }
  .service-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-image {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 880px) and (max-width: 900px) {
  .feed-item {
    h3 {
      opacity: 0;
    }
    div {
      opacity: 0;
    }
    h4 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }
  }
  .service-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-image {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-image {
    grid-column: 1/2;
    grid-row: 2/4;
  }
}

@media (min-width: 830px) and (max-width: 880px) {
  .feed-item {
    h3 {
      opacity: 0;
    }
    div {
      opacity: 0;
    }
    h4 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }
  }
  .operation {
    div {
      div {
        width: 100%;
      }
    }
    .image {
      max-width: 260px;
      img {
        width: 100%;
      }
    }
  }
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-image {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 760px) and (max-width: 830px) {
  .feed-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feed-image {
    grid-column: 2/3;
    grid-row: 4/2;
  }
  .operation {
    div {
      div {
        width: 100%;
      }
    }
    .image {
      max-width: 260px;
      img {
        width: 100%;
      }
    }
  }
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-image {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 670px) and (max-width: 760px) {
  .feed-item {
    h3 {
      position: absolute;
      top: 40px;
    }
    div {
      bottom: 40px;
    }
  }
  .feed-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feed-image {
    grid-column: 2/3;
    grid-row: 4/2;
  }
  .operation {
    flex-direction: column;
    div {
      div {
        width: 100%;
        div {
          max-width: unset;
        }
      }
    }
    .image {
      max-width: unset;
      width: 480px;
      img {
        width: 100%;
      }
    }
  }
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-image {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 640px) and (max-width: 670px) {
  .feed-item {
    h3 {
      opacity: 0;
    }
    div {
      opacity: 0;
    }
  }
  .feed-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feed-image {
    grid-column: 2/3;
    grid-row: 4/2;
  }
  .operation {
    flex-direction: column;
    div {
      div {
        width: 100%;
        div {
          max-width: unset;
        }
      }
    }
    .image {
      max-width: 480px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-image {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .article-container {
    div {
      img {
        float: unset;
        margin: 10px 0 0 0;
      }
    }
  }
}

@media (min-width: 580px) and (max-width: 640px) {
  .feed-item {
    h3 {
      opacity: 0;
    }
    div {
      opacity: 0;
    }
    h4 {
      font-size: 26px;
      margin: 0 0 10px 0;
    }
  }
  .feed-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feed-image {
    grid-column: 2/3;
    grid-row: 4/2;
  }
  .operation {
    flex-direction: column;
    div {
      div {
        width: 100%;
        div {
          max-width: unset;
        }
      }
    }
    .image {
      max-width: 480px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-image {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .article-container {
    div {
      img {
        float: unset;
        margin: 10px 0 0 0;
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 580px) {
  .feed-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feed-image {
    display: none;
  }
  .operation {
    flex-direction: column;
    div {
      div {
        width: 100%;
        div {
          max-width: unset;
        }
      }
    }
    .image {
      max-width: 480px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-image {
    display: none;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    .projects-item {
      h4 {
        font-size: 24px;
      }
    }
  }
  .contact {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .article-container {
    div {
      img {
        float: unset;
        margin: 10px 0 0 0;
      }
    }
  }
  .navigation {
    padding: 0 20px !important;
  }
  .feed,
  .service {
    display: block;
    padding: 20px;
  }
  .operation {
    padding: 130px 20px;
  }
  .projects {
    padding: 100px 20px 20px 20px;
  }
  .contact,
  .article-container {
    padding: 150px 20px 130px 20px;
  }
}

@media (min-width: 368px) and (max-width: 420px) {
  .feed-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feed-image {
    display: none;
  }
  .operation {
    flex-direction: column;
    div {
      div {
        width: 100%;
        div {
          max-width: unset;
        }
      }
    }
    .image {
      max-width: 480px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .feed-item {
    h3 {
      position: absolute;
      top: 40px;
    }
    div {
      bottom: 40px;
    }
  }
  .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-image {
    display: none;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    .projects-item {
      h4 {
        font-size: 24px;
      }
    }
  }
  .contact {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .article-container {
    div {
      img {
        float: unset;
        margin: 10px 0 0 0;
      }
    }
  }
  .navigation {
    padding: 0 20px !important;
  }
  .feed,
  .service {
    display: block;
    padding: 20px;
  }
  .operation {
    padding: 130px 20px;
  }
  .projects {
    padding: 100px 20px 20px 20px;
  }
  .contact,
  .article-container {
    padding: 150px 20px 130px 20px;
  }
}

@media (min-width: 0px) and (max-width: 368px) {
  .feed-item {
    h3 {
      opacity: 0;
    }
    div {
      opacity: 0;
    }
    h4 {
      font-size: 26px;
      margin: 0 0 10px 0;
    }
  }
  .feed-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feed-image {
    display: none;
  }
  .operation {
    flex-direction: column;
    div {
      div {
        width: 100%;
        div {
          max-width: unset;
        }
      }
    }
    .image {
      width: 100%;
      max-width: 480px;
      img {
        width: 100%;
      }
    }
  }
  .feed-item {
    h3 {
      position: absolute;
      top: 40px;
    }
    div {
      bottom: 40px;
    }
  }
  .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-image {
    display: none;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    .projects-item {
      h4 {
        font-size: 24px;
      }
    }
  }
  .contact {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .article-container {
    div {
      img {
        float: unset;
        margin: 10px 0 0 0;
      }
    }
  }
  .navigation {
    padding: 0 20px !important;
  }
  .feed,
  .service {
    display: block;
    padding: 20px;
  }
  .operation {
    padding: 130px 20px;
  }
  .projects {
    padding: 100px 20px 20px 20px;
  }
  .contact,
  .article-container {
    padding: 150px 20px 130px 20px;
  }
}
